/* The general css */

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'lato', 'Avenir Next', "Arial", sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .title a { 
    text-decoration: none; 
    -webkit-font-smoothing: antialiased;
}

h2 {
    text-align: center;
    margin: 15px 0;
}

body {
    font-size: 16px;
    color:#000;
    max-width: 100%;
    margin: 0 auto; 
    -webkit-font-smoothing: antialiased;   
}

header {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: white;
    opacity: 0.8;
    z-index: 300;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    top:0%;
}

div {
    display: block;
}

.right {
    float: right;
    line-height: 50px;
    padding: 0 1em 0 0;
    font-size: 14px;
}

a {
    color: #F54848;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header a.right {
    margin: 0 0 0 1em;
}

.menu {
    height: 50px;
    float: right;
    margin-right: 10px;
    opacity: 1;
}

header .left { 
    float: left; 
    height: 50px;
    margin-left: 1em;
}

header .left .logo {
    background-position: 6px 7px;
    background-image: url("/assets/img/team_logo.png");
    background-size: 88.5px 20px;
    height: 30px;
    width: 100px;
    margin: 10px 5px;
    display: inline-block;
    background-repeat: no-repeat;
    opacity: 1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

header .left .logo:hover {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.wrapText {
    padding: 0px 10px;
    position: relative;
}

h1 {
    margin: 30px auto;
    text-align: center;
    color: #dc2b1d;
    font-family: 'lato', 'Avenir Next', "Arial", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.centertext {
    text-align: center;
}


h4, h5, h6, .title {
    font-family: 'lato', 'Avenir Next', "Arial", sans-serif;
    font-weight: 300;
}

h2 {
    font-family: 'lato', 'Avenir Next', "Arial", sans-serif;
    font-weight: 500;
    color: #dc2b1d;
}

h3 {
    font-family: 'lato', 'Avenir Next', "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.footer {
    text-align: center;
    margin: 0 30px;
    color: #777;
}

.footercolor {
    background-color: rgba(250, 250, 250, 0.8)
}

.featurepromobox h2 {
    text-align: center
}

.featurepromobox div {
    padding: 0em 1em 0em 1em;
}

.featurepromobox h1 {
    border-bottom: #f16359 solid 1px;
    width: 400px;
    padding-bottom: 10px;
}

img.aligncenter {
    max-width: 20%;
    padding-left: 40%;
    padding-right: 40%;
}

img {
    border: 0px;
    max-width: 100%;
}

.desktopsize {
    width: 100%;
}

p {
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'lato', 'Avenir Next' sans-serif;
    font-weight: 400;
}

.trademark {
    padding: 1em 2em 2em 2em;
    font-size: 0.75em;
    text-align: center;
    color: #777;
}

.bordertop {
    border-top: 1px solid #eee;
    padding-top: 1em;
}

.hero {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

/*Blur*
.hero img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.hero img:hover {
  -webkit-filter: blur(3px);
}
/*End Blur*/


.mobilesize {
    display:none;
}

.backgroundfeature {
    background-color: #ffffff;
}

.featurepromobox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    overflow: hidden;
    transition: all 0.5s;
}


.teamfeature {
    background-color: #394051;
    text-align: center;
}

.teamfeature h1 {
    color: #FFACA0;
    margin: 30px 0 15px 0; 
}

.introductionbox p {
    color: white;
    margin: 0px 0px;
    padding-top: 2em;
    padding-bottom: 2em;
    font-weight: 400;   
    text-align: left;
}

.introductionbox {
    width: 650px;
    margin: 0 auto;
    position: relative;
}

br {
    line-height: 1.75;
}

.memberbox {
    position: relative;
}

.slogan {
    z-index: 200;
    position: absolute;
    /*top: 25%;*/
    left: 5%;
    color: white;
    width: 45%;
    margin: 30px auto;
    text-align: center;
    opacity: 1;
}

.appear {
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.slogan p {
    padding: 0 4em;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

.appicon {
    background-position: 0 0;
    background-image: url("/assets/img/tenheroicon.png");
    background-size: 160px 160px;
    height: 160px;
    width: 160px;
    margin: 10px 5px;
    display: inline-block;
    background-repeat: no-repeat;
    opacity: 1;
}

.slogan h1 {
    text-transform: uppercase;
    color: white;
    margin: 15px auto;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
}

/*.hero:hover .slogan {
    opacity: 1;
 }
*/
 .faq {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
 }

 .faqbox {
    margin-top: 0px;
    display: block;
 }

.faqbox h1 {
    margin-top: 0px;
    padding-top: 80px;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
}

 .faqbox h3 {
    margin: 20px 30px 0 30px;
    font-weight: 400;
    color: #f16359;
    border-bottom: #f16359 1px dotted;
    padding-bottom: 10px; 
 }

.faqbox p {
    line-height: 1.25;
    padding: 0 0;
    margin: 20px 30px 30px 30px;
}

.slogan a.appstoreicon {
    background-image: url("/assets/img/appStoreIcon2x_BW.png");
    background-size: 135px 40px;
    height: 40px;
    width: 135px;
    margin: 10px 5px;
    display: inline-block;
    background-repeat: no-repeat;
    opacity: 1;
}

.faqcard {
    -moz-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 25px 30px 30px 30px;
    margin-bottom: 50px;
}

.grey {
    background-color: rgba(250, 250, 250, 0.45);
}

/*start media query*/


@media screen and (min-width: 1900px) {
    .appicon {
        background-size: 320px 320px;
        height: 320px;
        width: 320px;
    }

    .slogan h1 {
        font-size: 60px;
    }

    .slogan p {
        font-size: 25px;
    }

    .slogan a.appstoreicon {
        background-size: 200px 60px;
        height: 60px;
        width: 200px;
    }

    p {
        font-size: 1.3vw;
    }

    .introductionbox {
        width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .faqcard {
        margin-left: 5%;    
        margin-right: 5%;
    }

    .slogan {
        margin: 20px auto;
    }

    .slogan h1 {
        font-size: 30px;
    }

    .slogan p {
        font-size: 12px;
    }
}

@media screen and (max-width: 860px) {
    .slogan {
        margin:  10px auto;
    }
}

@media screen and (max-width: 800px) {

    .slogan h1 {
        font-size: 25px;
    }

    .slogan p {
        font-size: 10px;
    }
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    .pure-u-sm-1-3 {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .slogan {
        width: auto;
        position: relative;
        color: black;
        margin: 0 auto;
        left: auto;
    }

    .slogan h1 {
        font-size: 40px;
        color: black;
    }

    .appicon {
        display: none;
    }

    .featurepromobox h1 {
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 0;
        margin: 20px 20px;
        width: auto;
    }

    .featurepromobox h2 {
        font-weight: 400;
    }

    .faqbox p {
        line-height: 1.25;
        padding: 0 0;
        margin: 20px 0px 30px 0px;
    }

    .faqbox h3 {
        margin: 20px 0px 0 0px;
    }

    .slogan a.appstoreicon {
        background-image: url("/assets/img/appStoreIcon2x.png");
        margin: 30px auto 0 auto;
    }

@media screen and (max-width: 479px) {
    .wrapText {
        padding: 0px 0px;
    }

    .desktopsize {
        display: none;
    }

    .mobilesize {
        display: block;
        width: 100%;
    }

    .slogan h1 {
        color: white;
    }

    .slogan {
        position: absolute;
        color: white;
    }

    .slogan a.appstoreicon {
        background-image: url("/assets/img/appStoreIcon2x_BW.png");
        margin: 5px auto 0 auto;
    }